#footer {
    position:fixed; left:0px; bottom:0px; height:60px; width:100%; background:#eee; z-index: 999;}

#footer .menus1 {

    float:left;}
#footer .menus2 {
/*padding-left: 475px;*/
/*padding-right: 475px;*/
position: absolute;
left: 45%;


}
#footer .menus3 {

    float: right;
}
.title.navbar-brand.page-scroll {
    color: #E41E26;
    font-size: 22px;
}

.content.container{
    color: #E41E26;
}

.profile{
    float: right;

}
#success_message{ display: none;}

#age{
    width: 46%;
}